language: node_js
node_js:
  - '8'
  - '9'
  - '10'
  - '11'
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.10.1
  - export PATH="$HOME/.yarn/bin:$PATH"
script:
  - yarn clean
  - yarn build
  - yarn test
  - codecov -f coverage/*.json
