name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [8, 10, 12]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install dependencies
        run: |
          npm install -g yarn
          yarn install --frozen-lockfile
      - name: Check source code
        run: |
          yarn lint
          yarn prettier:check
      - name: Compile source code
        run: yarn build
      - name: Run tests
        run: yarn test:ci
